.light-mode {
  .pricing-area {
    .use-case {
      flex-direction: column;
    }
    .use-case button {
      position: relative;
      font-family: "Urbanist", sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 21.6px;
      text-align: center;
      padding: 12px 25px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2em; /* Adjust as needed */
      font-weight: bold; /* Adjust as needed */
      z-index: 11;
      background: linear-gradient(120.12deg, #fde9a3 -3.95%, #eecb4e 101.99%);
      color: #000;
      -webkit-text-fill-color: #000;
    }
    .use-case-btn {
      font-size: 18px !important;
    }
    .use-case h1 {
      font-family: "Urbanist", sans-serif;
      font-size: 50px;
      font-weight: 600;
      line-height: 60px;
      text-align: center;
      color: #000;
      padding: 20px 0;
    }
    .activeTable {
      border: 1px solid #eecb4e;
    }
    .use-case p {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.06px;
      text-align: center;
      color: #595959;
    }
    .select-btn {
      width: 369px;
      height: 82px;
      border-radius: 50px;
      background-color: #efefef;
      margin: auto;
      .package-btn {
        width: 177px;
        height: 60px;
        padding: 15px 16px 15px 16px;
        border-radius: 50px;
        font-family: "Urbanist", sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        background-color: transparent;
        cursor: pointer;
      }
      .active-btn {
        background: linear-gradient(
          120.12deg,
          #fde9a3 -3.95%,
          #eecb4e 101.99%
        ) !important;
      }
    }

    .price-btn2 {
      margin-right: 20px;
      background: linear-gradient(120.12deg, #fde9a3 -3.95%, #eecb4e 101.99%);
      width: 294.94px;
      height: 60px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Urbanist;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      cursor: pointer;
    }
    .price-btn2 img {
      padding-left: 10px;
    }
    .price-button {
      position: relative;
      font-family: "Urbanist", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.6px;
      text-align: center;
      padding: 14px 25px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(120.12deg, #fde9a3 -3.95%, #eecb4e 101.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-size: 2em; /* Adjust as needed */
      font-weight: bold; /* Adjust as needed */
      z-index: 11;
      border: 1px solid var(--border-custom1);
      width: 100%;
    }

    .pricing-table h1 {
      font-family: "Urbanist", sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
      text-align: center;
      color: #171616;
      padding: 20px 0;
    }
    .pricing-table p {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.06px;
      text-align: center;
      color: #595959;
    }
    .pricing-table del {
      color: #8e8989;
    }
    .pricing-table h2 {
      font-family: "Urbanist", sans-serif;
      color: #000000;
      font-size: 50px;
      font-weight: 600;
      line-height: 60px;
      text-align: center;
      padding: 10px 0;
    }
    .pricing-table .month {
      font-family: "Urbanist", sans-serif;
      color: #000000;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      text-align: center;

      padding: 10px 0;
    }

    .pricing-table {
      height: 100%;
      box-shadow: 0px 4px 100px 0px #0000000d;
      background: #ffffff;
      border-radius: 20px;
      padding: 30px;
      width: 366px;
    }
    .icon {
      width: 25.66px;
      height: 25.66px;
      border-radius: 29.62px;
      background: var(--bg-custom5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .closed {
      background: var(--bg-custom6);
    }
    .name {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26.72px;
      text-align: left;
      color: var(--white-color);
      padding-left: 10px;
      margin: 0;
    }
  }
}
.dark-mode {
  .pricing-area {
    .activeTable {
      border: 1px solid #eecb4e;
    }
    .select-btn {
      width: 369px;
      height: 82px;
      border-radius: 50px;
      background-color: #1e1c1c;
      margin: auto;
      .package-btn {
        width: 177px;
        height: 60px;
        padding: 15px 16px 15px 16px;
        border-radius: 50px;
        font-family: "Urbanist", sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        cursor: pointer;
      }
      .active-btn {
        background: linear-gradient(
          120.12deg,
          #fde9a3 -3.95%,
          #eecb4e 101.99%
        ) !important;
        color: #000 !important;
      }
    }

    .use-case {
      flex-direction: column;
    }
    .use-case button {
      position: relative;
      font-family: "Urbanist", sans-serif;
      font-size: 18px !important;
      font-weight: 700;
      line-height: 21.6px;
      text-align: center;
      padding: 12px 25px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(120.12deg, #fde9a3 -3.95%, #eecb4e 101.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-size: 2em; /* Adjust as needed */
      font-weight: bold; /* Adjust as needed */

      z-index: 11;
    }
    .use-case button::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        120.12deg,
        rgba(253, 233, 163, 0.1) -3.95%,
        rgba(238, 203, 78, 0.1) 101.99%
      );
      border-radius: 50px;
    }
    .price-button {
      position: relative;
      font-family: "Urbanist", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.6px;
      text-align: center;
      padding: 14px 25px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(120.12deg, #fde9a3 -3.95%, #eecb4e 101.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-size: 2em; /* Adjust as needed */
      font-weight: bold; /* Adjust as needed */
      z-index: 11;
      border: 1px solid var(--border-custom1);
      width: 100%;
    }

    .pricing-table h1 {
      font-family: "Urbanist", sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
      text-align: center;
      color: var(--white-color);
      padding: 20px 0;
    }
    .pricing-table p {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.06px;
      text-align: center;
      color: var(--white-color);
    }
    .pricing-table del {
      color: var(--text-custom4);
    }
    .pricing-table h2 {
      font-family: "Urbanist", sans-serif;
      color: var(--white-color);
      font-size: 50px;
      font-weight: 600;
      line-height: 60px;
      text-align: center;
      padding: 10px 0;
    }
    .pricing-table .month {
      font-family: "Urbanist", sans-serif;
      color: var(--white-color);
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      text-align: center;

      padding: 10px 0;
    }

    .pricing-table {
      height: 100%;
      box-shadow: 0px 4px 100px 0px #0000000d;
      background: var(--bg-custom2);
      border-radius: 20px;
      padding: 30px;
      width: 366px;
    }
    .icon {
      width: 25.66px;
      height: 25.66px;
      border-radius: 29.62px;
      background: var(--bg-custom5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .closed {
      background: var(--bg-custom6);
    }
    .price-btn2 {
      margin-right: 20px;
      background: linear-gradient(120.12deg, #fde9a3 -3.95%, #eecb4e 101.99%);
      width: 294.94px;
      height: 60px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Urbanist;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      cursor: pointer;
    }
    .price-btn2 img {
      padding-left: 10px;
    }
    .name {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26.72px;
      text-align: left;
      color: var(--white-color);
      padding-left: 10px;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .select-btn {
    width: 100% !important;
    .package-btn {
      width: 45% !important;
    }
  }
  .pricing-table {
    width: 90% !important;
    margin: 20px auto !important ;
  }
  .pricing-area .price-btn2 {
    margin: auto !important;
  }
}
@media only screen and (max-width: 600px) {
  .pricing-area {
    .use-case {
      h1 {
        font-size: 35px !important;
        line-height: 37px !important;
      }
      p {
        line-height: 30px !important;
        font-size: 16px !important;
      }
    }
    .select-btn {
      height: auto !important;
      padding: 10px 0;
    }
    .package-btn {
      width: 177px;
      height: 51px !important;
      padding: 15px 16px 15px 16px;
      border-radius: 50px;
      font-family: "Urbanist", sans-serif;
      font-size: 18px !important;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .price-button {
      font-size: 20px !important;
    }
    .pricing-table h2 {
      font-size: 40px !important;
    }
    .price-btn2 {
      width: 100% !important;
      font-size: 20px !important;
    }
  }
}
